<div class="jumbotron">
  <h1>Riot Point Giveaways</h1>

  <h2>Giving away 25,000 RP in:</h2>

  <div id="countdown"></div>

  <%= link_to "Sign Up with Facebook", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "Regular Sign Up" %>
</div>
